body{
	background: #F3F5FC;
}

.main{
	position: relative;
	width: 1440px;
	height: 350px;

}
.btn-criptografar{

	display: inline;
	padding: 24px;
	position: absolute;
	width: 318px;
	height: 10px;
	left: 140px;
	top: 540px;
	background: #0A3871;
    border-radius: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.btn-descriptografar{
	display: inline;
	padding: 24px;
	position: absolute;
	width: 318px;
	height: 10px;
	left: 510px;
	top: 540px;
	background: ##D8DFE8;
    border-radius: 18px;
    text-align: center;
    color: #0A3871;
    text-decoration: none;
    border: 1px solid #0A3871
}
.texto-entrada{
	position: absolute;
	width: 680px;
	height: 388px;
	left: 140px;
	top: 70px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	background:#F3F5FC;
	border: none;
	text-align: left;
}
.texto-saida{
	position: relative;
	width: 180px;
	height: 488px;
	left: 0px;
	top: 0px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 150%;
	color: red;
	background:#F3F5FC;
	border: none;
	text-align: left;
}
.resposta{
	position: absolute;
	width: 350px;
	height: 590px;
	left: 890px;
	top: 20px;	
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}
.info-letra{
	position: absolute;
	width: 228px;
	height: 18px;
	left: 540px;
	top: 516px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}
.info-check{
	position: absolute;
	width: 228px;
	height: 18px;
	left: 405px;
	top: 515px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}
.info-minusculo{
	position: absolute;
	width: 328px;
	height: 18px;
	left: 160px;
	top: 515px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}
.icone{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 140px;
	top: 515px;

}
.btn-copiar{
	display: inline;
	padding: 24px;
	position: absolute;
	width: 250px;
	height: 10px;
	left: 30px;
	top: 510px;
	background: ##E5E5E5;
    border-radius: 18px;
    text-align: center;
    color: #0A3871;
    text-decoration: none;
    border: 1px solid #0A3871
}

.texto-saida{
	position: absolute;
	width: 290px;
	height: 450px;
	left: 032px;
	top: 32px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 150%;
	color: #495057;
	background: #FFFFFF;
}
.logo{
	position: absolute;
	left: 140px;
	top: 20px;
}



